@inherits RegisterBase
@page "/register"


<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(2)">

    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 ">
                <h2 class="center"> Register</h2>
            </div>
            <span>
                @Message
            </span>
            <div>
                <EditForm Model="@VM" OnValidSubmit="SaveUser">
                    <div>
                        <span>User Name :</span>
                        <MatTextField @bind-Value="@VM.PersonalInfo.Name" Label="User Name"></MatTextField>
                        @*<input type="text" @bind-value="@VM.PersonalInfo.Name" placeholder="User Name" />*@
                    </div>
                    @*<button>Submit</button>*@
                    <MatButton Raised="true">SUBMIT</MatButton>
                </EditForm>
            </div>
        </div>
    </div>
</Animate>
<style>
    .center {
        text-align: center
    }
</style>

